Flask==1.0.2
flask-socketio
eventlet==0.24.1
gunicorn==19.9.0

Flask-Session==0.3.1

# API documentation.
flasgger

# CLI.
# Click==7.0
Click==6.4

# Data and workers.
psycopg2==2.6.1
# Flask-SQLAlchemy==2.1
Flask-SQLAlchemy==2.3.1
redis==2.10.5
celery==3.1.23

# Forms.
# Flask-WTF==0.14.2
# WTForms-Components==0.10.3
Flask-WTF==0.9.5
WTForms-Components==0.9.7

# Extensions.
# Flask-Login==0.4.0
Flask-Login==0.3.2
flask-debugtoolbar==0.10.1
Flask-Mail==0.9.1

# pytz